/* ============================================================
  RESET
============================================================ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
  
}
h1{
  font-family: monospace;
  padding:.2em;
  background-color: rgba(255, 255, 255, .5);
}
h2{
  font-family: monospace;
  color: #f2f7f7;
}
section{
  background-color: #3F51B5;
  color:#FFFFFF;
}

p{
  color: #f2f7f7;
}

/* ============================================================
  SECTIONS
============================================================ */
/*section.module:last-child {
  margin-bottom: 0;
}*/
section.module h2 {
  margin-bottom: .75em;
  font-size: 30px;
  border-bottom: #B2DFDB;
  border-style: solid;
}

section.module p {
  margin-top: 0em;
  font-size: 16px;
  font-size: 1.2em;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 2em;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 2em;
  height: 25em;
}
section.module.parallax {
  
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:600px;
}
section.module.parallax h1 {
  color: #212121;
  font-size: 200px;
  
    /*line-height: 6em;*/
    /*margin-top: 3em;*/
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
section.module.parallax-1 {
  background-image: url("./img/IMG_3182.JPG");
  background-position-y: -225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
section.module.parallax-2 {
  background-image: url("./img/Margaret_Hamilton.gif");
  background-position-y: -140px; 
}
section.module.parallax-3 {
  background-image: url("./img/Reprogramming_ENIAC.png");
}

section.module.parallax-4 {
  background-image: url("./img/Grace_Hopper_and_UNIVAC.jpg");
  background-position-y: -300px; 
}

a.hidden {
  position: absolute;
  left: -999px;
}
a.hidden:focus {
    left: 5px;
    text-decoration: none;
    background-color: red;
    padding: 10px;
    font-family: monospace;
    font-weight: bolder;
    font-size: 1.6em;
}
.navbarLinks{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-family: monospace;
  font-weight: bolder;
}
.navbar{
  margin-bottom: 6em;
  padding: .1em 2em;
  background-color: #3F51B5;
}
.navbarLinks a{
  text-decoration: none;
  font-weight: 200;
  font-size: 1.6em;
  color: #dde6e6;
}

.projectsItem{
  position: static;
  display: block;
}
.projectsLink{
  position: relative;
  border: red dashed;
  display: inline-block;
  width: 20%;
}
.projectsItem p{
  width: 50%;
  display: inline-block;
  position: relative;
  left: 10%;
  border: yellow dashed;
}
/*@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
    height: 4em;
    /*line-height: 6em;
    margin-top: 3em;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
    height: 6em;
    line-height: 5em;
  }
}*/